<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**We hypothesize that student performance on these tests is not an indicator of overall academic performance. This project seeks to see if a relationship exists between student GPA and SAT/ACT scores to support or oppose the continuation of these tests as a requirement for college applications.**

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

- "combined_acts", a table that contains the state, participation, and composite columns from [`act_2017.csv`], [`act_2018.csv`], and [`act_2019.csv`]
- "combined_sats", a table that contains the state, math, and total columns from [`sat_2017.csv`], [`sat_2018.csv`], and [`sat_2019.csv`]
- [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
def my_mean(nums):
    if type(nums) != int and type(nums) != list:
        return None
    
    return sum(nums)/len(nums) if type(nums) == list else nums

my_mean(list(range(1, 10)))

5.0

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# Code:
def my_deviation(nums):
    mean = my_mean(nums)
    if type(nums) != int and type(nums) != list:
        return None
    
    if type(nums) == int:
        nums = [nums]
    
    return ( sum([(num - mean)**2 for num in nums])/len(nums) )**.5

my_deviation(list(range(1, 10)))

2.581988897471611

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [3]:
# Code:
def percent_to_float(num):
    new_num = str(num)[0:-1]
    
    try:
        return float(new_num)*.01
    except:
        return None

percent_to_float('30.25%')

0.3025

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [4]:
# Imports:
import scipy.stats as stats
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [5]:
# Code:

In [6]:
folder = '../data/'
acts = {'17': pd.read_csv(folder + 'act_2017.csv'),
        '18': pd.read_csv(folder + 'act_2018.csv'),
        '19': pd.read_csv(folder + 'act_2019.csv')}

sats = {'17': pd.read_csv(folder + 'sat_2017.csv'),
       '18': pd.read_csv(folder + 'sat_2018.csv'),
       '19': pd.read_csv(folder + 'sat_2019.csv')}

***Combine ACTs into one table***

Find columns required for full merge:

In [7]:
acts['17'].head(3)

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8

In [8]:
columns17 = acts['17'].columns.tolist()
columns18 = acts['18'].columns.tolist()
columns19 = acts['19'].columns.tolist()

#intersection credit: https://www.geeksforgeeks.org/python-intersection-two-lists/
limiting_factors = list(set(columns17) & set(columns18) & set(columns19))
limiting_factors

['State', 'Participation', 'Composite']

Drop unneeded columns

In [9]:
def drop_limiting(frame_columns, frame, remaining_columns):
    for column in frame_columns:
        if column not in remaining_columns:
            frame.drop(columns = column, inplace= True)

In [10]:
drop_limiting(columns17, acts['17'], limiting_factors)
drop_limiting(columns18, acts['18'], limiting_factors)
drop_limiting(columns19, acts['19'], limiting_factors)

Differentiate using year

In [11]:
acts['17']['year'] = 2017
acts['18']['year'] = 2018
acts['19']['year'] = 2019

In [12]:
combined_acts = pd.concat([acts['17'], acts['18'], acts['19']])
combined_acts = combined_acts.rename(columns = str.lower)

Clean numbers and change percentages to decimals

In [13]:
def clean_number(num):
    valid = [str(item) for item in list(range(0, 10))]
    valid.append('.')
    new_num = ''
    for char in str(num):
        if char in valid:
            new_num += char
    
    if new_num == '':
        return None
    
    return float(new_num)

In [14]:
combined_acts['composite'] = combined_acts['composite'].map(clean_number)
combined_acts['participation'] = combined_acts['participation'].map(percent_to_float);

In [15]:
combined_acts = combined_acts.rename(columns = {'composite': 'composite_score'})

In [16]:
combined_acts.head(3)

      state  participation  composite_score  year
0  National           0.60             21.0  2017
1   Alabama           1.00             19.2  2017
2    Alaska           0.65             19.8  2017

***Combine SATs into one table***

Find columns needed for full merge

In [17]:
sats['17'].head(3)

     State Participation  Evidence-Based Reading and Writing  Math  Total
0  Alabama            5%                                 593   572   1165
1   Alaska           38%                                 547   533   1080
2  Arizona           30%                                 563   553   1116

In [18]:
columns17 = sats['17'].columns.tolist()
columns18 = sats['18'].columns.tolist()
columns19 = sats['19'].columns.tolist()
print(columns17)
print(columns18)
print(columns19)

['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math', 'Total']
['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math', 'Total']
['State', 'Participation Rate', 'EBRW', 'Math', 'Total']

In [19]:
sats['19'] = sats['19'].rename(columns = {'Participation Rate': 'Participation', 'EBRW': 'Evidence-Based Reading and Writing'})

Differentiate using year

In [20]:
sats['17']['year'] = 2017
sats['18']['year'] = 2018
sats['19']['year'] = 2019

combined_sats = pd.concat([sats['17'], sats['18'], sats['19']])
combined_sats = combined_sats.rename(columns = str.lower)

combined_sats = combined_sats.rename(columns = {'math': 'math_score', 'total': 'total_score'});

In [21]:
combined_sats.head(3)

,state,participation,evidence-based reading and writing,math_score,total_score,year
0,Alabama,5%,593,572,1165,2017
1,Alaska,38%,547,533,1080,2017
2,Arizona,30%,563,553,1116,2017

Clean numbers

In [22]:
combined_sats['total_score'] = combined_sats['total_score'].map(clean_number)
combined_sats['total_score'] = combined_sats['total_score'].map(int)

combined_sats['math_score'] = combined_sats['math_score'].map(clean_number)
combined_sats['math_score'] = combined_sats['math_score'].map(int)

combined_sats['participation'] = combined_sats['participation'].map(clean_number)
combined_sats['participation'] = combined_sats['participation'].map(percent_to_float);

Check nulls

In [23]:
combined_acts.isnull().sum()

state              0
participation      0
composite_score    0
year               0
dtype: int64

In [24]:
combined_sats.isnull().sum()

state                                 0
participation                         2
evidence-based reading and writing    0
math_score                            0
total_score                           0
year                                  0
dtype: int64

Drop non-uniform values (drop states that are not present in each year)

In [25]:
bad_states = [bad_state for bad_state, num in combined_sats.value_counts('state').items() if num < 3]

In [26]:
for bad_state in bad_states:
    combined_sats = combined_sats[combined_sats['state'] != bad_state]

In [27]:
bad_states = [bad_state for bad_state, num in combined_acts.value_counts('state').items() if num < 3]
for bad_state in bad_states:
    combined_acts = combined_acts[combined_acts['state'] != bad_state]

Check data types

In [28]:
combined_acts.dtypes

state               object
participation      float64
composite_score    float64
year                 int64
dtype: object

In [29]:
combined_sats.dtypes

state                                  object
participation                         float64
evidence-based reading and writing      int64
math_score                              int64
total_score                             int64
year                                    int64
dtype: object

In [30]:
def convert_string_to_less_annoying_string(header):
    header = header.lower()
    return "_".join(header.split(" "))

In [31]:
combined_sats = combined_sats.rename(columns = convert_string_to_less_annoying_string)

***Save as csv files***

In [32]:
combined_sats.to_csv(folder + 'combined_sats.csv')
combined_acts.to_csv(folder + 'combined_acts.csv')

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example| 
|year|int|ACT/SAT|The year in which the data was taken|
|state|object|ACT/SAT|The State of the United States in which the data was taken|
|participation|float|ACT/SAT|The percentage of ACT/SAT takers out of all students that could have taken the ACT/SAT, per state|
|math_score|int|SAT|The average score per state for students taking the Math portion of the SAT|
|reading_writing_score|int|SAT|The average score per state for students taking the Comprehensive Reading and Writing portion of the SAT|
|total_score|int|SAT|The combined math_score and reading_writing_score per state, used for comparison to acceptance thresholds for universities|
|composite_score|float|ACT|The average final ACT score per state, calculated from the ACT's four section scores|
|school|object|Admissions|The college or university that students applied to|
|test_optional|object|Admissions|Whether or not the college or university mandates student applicants have taken the SAT/ACT|
|applies_to_class_year(s)|object|Admissions|A list of years in which the data are applicable|
|policy_details|object|Admissions|A sentence describing college or university policty towards the SAT/ACT|
|number_of_applicants|int|Admissions|The number of student applicants to the college or university|
|accept_rate|float|Admissions|The rate of admission for the college or university|
|sat_25th_percentile|int|Admissions|The value identifying the 25th percentile of the SAT total score for students admitted to the college or university|
|sat_75th_percentile|int|Admissions|The value identifying the 75th percentile of the SAT total score for students admitted to the college or university|
|act_25th_percentile|int|Admissions|The value identifying the 25th percentile of the ACT composite score for students admitted to the college or university|
|act_75th_percentile|int|Admissions|The value identifying the 75th percentile of the ACT composite score for students admitted to the college or university|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.

***Summary Statistics***

In [33]:
combined_acts.describe()

       participation  composite_score         year
count     151.000000       151.000000   151.000000
mean        0.621126        21.464901  2018.000000
std         0.337223         2.094984     0.816497
min         0.060000        17.700000  2017.000000
25%         0.290000        19.800000  2017.000000
50%         0.660000        21.200000  2018.000000
75%         1.000000        23.650000  2019.000000
max         1.000000        25.600000  2019.000000

In [34]:
combined_sats.describe()

,participation,evidence-based_reading_and_writing,math_score,total_score,year
count,153.000000,153.000000,153.000000,153.000000,153.000000
mean,0.448693,564.535948,552.019608,1119.732026,2018.000000
std,0.370944,46.301362,63.246434,94.162654,0.819178
min,0.020000,480.000000,52.000000,943.000000,2017.000000
25%,0.040000,531.000000,521.000000,1053.000000,2017.000000
50%,0.500000,554.000000,546.000000,1099.000000,2018.000000
75%,0.760000,614.000000,596.000000,1210.000000,2019.000000
max,1.000000,644.000000,655.000000,1298.000000,2019.000000

In [35]:
#fixing erroneous min value and associated r/w score
combined_sats.loc[combined_sats['math_score'] == 52, 'math_score'] = 520
combined_sats.describe()

,participation,evidence-based_reading_and_writing,math_score,total_score,year
count,153.000000,153.000000,153.000000,153.000000,153.000000
mean,0.448693,564.535948,555.078431,1119.732026,2018.000000
std,0.370944,46.301362,48.503327,94.162654,0.819178
min,0.020000,480.000000,460.000000,943.000000,2017.000000
25%,0.040000,531.000000,521.000000,1053.000000,2017.000000
50%,0.500000,554.000000,546.000000,1099.000000,2018.000000
75%,0.760000,614.000000,596.000000,1210.000000,2019.000000
max,1.000000,644.000000,655.000000,1298.000000,2019.000000

2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

***Dictionary Comps***

In [36]:
#Code:
sat_sd = {key: my_deviation(value) for key, value in combined_sats.to_dict('list').items() if type(value[0]) == int or type(value[0]) == float}

In [37]:
act_sd = {key: my_deviation(value) for key, value in combined_acts.to_dict('list').items() if type(value[0]) == int or type(value[0]) == float}

3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

***Trends***

 Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?

In [38]:
def top_five_all_years(frame, value, ascend):
    frame.sort_values(by = [value], ascending = ascend, inplace = True)

    return pd.concat([frame[frame['year'] == 2017][:5], frame[frame['year'] == 2018][:5], frame[frame['year'] == 2019][:5]])

In [39]:
worst_state_sat_scores = top_five_all_years(combined_sats, 'total_score', True)
worst_state_sat_scores.value_counts('state')

state
Delaware                3
District of Columbia    3
Idaho                   3
West Virginia           2
Maine                   1
Michigan                1
Oklahoma                1
Utah                    1
dtype: int64

- Frequency of states with worst performance on SAT

In [40]:
best_state_sat_scores = top_five_all_years(combined_sats, 'total_score', False)
best_state_sat_scores.value_counts('state')

state
Minnesota       3
Wisconsin       3
Iowa            2
Kansas          2
North Dakota    2
Missouri        1
Nebraska        1
South Dakota    1
dtype: int64

- Frequency of states with best performance on SAT

In [41]:
worst_state_act_scores  = top_five_all_years(combined_acts, 'composite_score', True)
worst_state_act_scores.value_counts('state')

state
Mississippi       3
Nevada            3
South Carolina    3
Alabama           2
Hawaii            2
Louisiana         1
North Carolina    1
dtype: int64

- Frequency of states with worst performance on ACT

In [42]:
best_state_act_scores = top_five_all_years(combined_acts, 'composite_score', False)
best_state_act_scores.value_counts('state')

state
Connecticut      3
Massachusetts    3
New Hampshire    3
New York         3
Maine            1
Michigan         1
Rhode Island     1
dtype: int64

- Frequency of states with best performance on ACT

Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?

In [43]:
worst_state_sat_participation = top_five_all_years(combined_sats, 'participation', True)
worst_state_sat_participation.value_counts('state')

state
North Dakota    3
Wyoming         3
Iowa            2
Mississippi     2
Nebraska        2
South Dakota    2
Utah            1
dtype: int64

- Frequency of states with worst SAT participation

In [44]:
best_state_sat_participation = top_five_all_years(combined_sats, 'participation', False)
best_state_sat_participation.value_counts('state')

state
Connecticut             3
Delaware                3
Idaho                   2
Michigan                2
Colorado                1
District of Columbia    1
Illinois                1
New Hampshire           1
Rhode Island            1
dtype: int64

- Frequency of states with best SAT participation

In [45]:
worst_state_act_participation = top_five_all_years(combined_acts, 'participation', True)
worst_state_act_participation.value_counts('state')

state
Maine            4
Delaware         3
New Hampshire    3
Rhode Island     3
Pennsylvania     2
dtype: int64

- Frequency of states with worst ACT participation

In [46]:
worst_state_act_participation = top_five_all_years(combined_acts, 'participation', False)
worst_state_act_participation.value_counts('state')

state
Mississippi       3
Nevada            2
Oklahoma          2
South Carolina    2
Wisconsin         2
Louisiana         1
Missouri          1
Montana           1
North Carolina    1
dtype: int64

- Frequency of states with best ACT participation

Do any states with 100% participation on a given test have a rate change year-to-year?

In [47]:
combined_sats[combined_sats['participation'] == 1.0].value_counts('state')

state
Connecticut             3
Delaware                3
Michigan                3
Colorado                2
Idaho                   2
District of Columbia    1
Florida                 1
Illinois                1
Rhode Island            1
dtype: int64

- The SAT participation rate is not consistently 100% for Colorado, D.C., Florida, Idaho, Illinois, or Rhode Island

In [48]:
combined_acts[combined_acts['participation'] == 1.0].value_counts('state')

state
Alabama           3
Arkansas          3
Wisconsin         3
Utah              3
Tennessee         3
Oklahoma          3
North Carolina    3
Nevada            3
Wyoming           3
Montana           3
Mississippi       3
Louisiana         3
Kentucky          3
Missouri          2
Ohio              2
South Carolina    2
Nebraska          2
Minnesota         1
Colorado          1
dtype: int64

- The ACT participation rate is not consistently 100% for Missouri, Ohio, South Carolina, Nebraska, Minnesota, or Colorado

Do any states show have >50% participation on *both* tests each year?

In [49]:
set(combined_acts[(combined_acts['participation'] > .5) & (combined_acts['year'] == 2017)]['state'].tolist()) & set(combined_sats[(combined_sats['participation'] > .5) & (combined_sats['year'] == 2017)]['state'].tolist())

{'Florida', 'Georgia', 'Hawaii'}

In [50]:
set(combined_acts[(combined_acts['participation'] > .5) & (combined_acts['year'] == 2018)]['state'].tolist()) & set(combined_sats[(combined_sats['participation'] > .5) & (combined_sats['year'] == 2018)]['state'].tolist())

{'Florida', 'Georgia', 'Hawaii', 'North Carolina', 'South Carolina'}

In [51]:
set(combined_acts[(combined_acts['participation'] > .5) & (combined_acts['year'] == 2019)]['state'].tolist()) & set(combined_sats[(combined_sats['participation'] > .5) & (combined_sats['year'] == 2019)]['state'].tolist())

{'Florida', 'Hawaii', 'North Carolina', 'South Carolina'}

- Florida and Hawaii both consistently have >50% participation on both test across all three years

**There appears to be some overlap between high participation and low test scores, suggesting a negative correlation between the two.**

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:

1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.

3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels

4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable

5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!